html, body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

/* Estilo padrão (desktop) */
body {
    background-image: url('fundo_pagdevendas.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Estilo para dispositivos móveis */
@media only screen and (max-width: 768px) {
    body {
        background-image: url('fundo_pag2.jpeg');
        background-size: contain; /* Mostra a imagem inteira */
        background-repeat: no-repeat;
        background-position: top center;
        background-color: black; /* Preenche áreas fora da imagem */
    }

    button {
        top: 75%; /* Ajuste conforme a posição do "Comece Agora" */
        left: 50%;
        width: 60%;
        height: 10%;
        font-size: 24px;
    }
}

/* Estilos do botão (desktop) */
button {
    padding: 10px 20px;
    background-color: rgba(1, 192, 99, 1);
    border: none;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 24%;
    height: 11%;
    color: white;
}
